@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #3C6255;
  --color-primary-light: #4D7C6A;
  --color-primary-dark: #2B4A3D;
  --color-muted-green: #A5C9B7;
  --color-greenish-gray: #D6E4D9;
  --color-white: #FFFFFF;
  --color-black: #000000;
  /* --color-dark: #242424; */
  --color-light-bg: #F5F5F5;
  --color-light: #F8F9FA;
  --color-muted: #9C9C9C;
  --color-muted-dark: #6a7282;
  --color-gray: #F5F5F5;
  --color-track: #E8F5E9;
  --color-warning: #FFC107;
  --color-danger: #DC3545;
  --color-success: #28A745;
  --color-info: #17A2B8;
  --font-cairo: "Cairo", sans-serif;
  --text-normal: 16px;
  --height-main: calc(100vh - 80px);
  --color-dark: oklch(14% 0.004 49.25);
  --color-dark-light: oklch(21% 0.006 56.043);
  --color-dark-lighter: oklch(26% 0.007 34.298);
}

@layer base {
  .container {
    max-width: 100%;
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  body {
    font-family: var(--font-cairo);
    background-color: var(--color-light-bg);
  }

  input, textarea {
    outline: none;
    font-size: large;
  }

  button {
    cursor: pointer;
  }

  .clip-path-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* Custom Scrollbar for WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: var(--color-track);
    /* Track color */
    border-radius: 5px;
    /* Rounded corners */
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    /* Thumb color */
    border-radius: 5px;
    /* Rounded corners */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark);
    /* Thumb color on hover */
  }

  /* Custom Scrollbar for Firefox */
  * {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: var(--color-primary) var(--color-track);
    /* Thumb and track color */
  }
}